body{
    font-family: Arial;
    background-color: #f2f2f2;
}

.login-box{
    width: 350px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    text-align: center;
    background-color: rgb(235, 235, 181);
}

input, select{
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

button{
    padding: 10px 20px;
    margin-top: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Gemini_Generated_Image_37ux1a37ux1a37ux.png");
    background-position: center;
}
.google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    margin: 10px auto;
}
